menu "Example Configuration"

    # visible if CUSTOM_COMMISSIONABLE_DATA_PROVIDER

    config DYNAMIC_PASSCODE_COMMISSIONABLE_DATA_PROVIDER
        bool "Enable Dynamic Passcode Commissionable Data Provider"
        depends on CUSTOM_COMMISSIONABLE_DATA_PROVIDER
        default y

    config DYNAMIC_PASSCODE_PROVIDER_DISCRIMINATOR
        int "Discriminator in Dynamic Passcode Commissionable Data Provider"
        depends on DYNAMIC_PASSCODE_COMMISSIONABLE_DATA_PROVIDER
        default 3840
        range 0 4095
        help
            Fixed discriminator in custom dynamic passcode commissionable data provider

    config DYNAMIC_PASSCODE_PROVIDER_ITERATIONS
        int "Iterations in Dynamic Passcode Commissionable Data Provider"
        depends on DYNAMIC_PASSCODE_COMMISSIONABLE_DATA_PROVIDER
        default 10000
        range 1000 100000
        help
            Fixed iterations in custom dynamic passcode commissionable data provider

    config DYNAMIC_PASSCODE_PROVIDER_SALT_BASE64
        string "Base64-Encoded Salt in Dynamic Passcode Commissionable Data Provider"
        depends on DYNAMIC_PASSCODE_COMMISSIONABLE_DATA_PROVIDER
        default "0NHS09TV1tfY2drb3N3e36ChoqOkpaanqKmqq6ytrq8="
        help
            Fixed salt in custom dynamic passcode commissionable data provider. It should be a Base64-Encoded string.

    config SUBSCRIBE_AFTER_BINDING
        bool "Enable subscribe to server after binding"
        default y
        help
            "When enabled the firmware will automatically create a Matter subscription after a binding entry is added. This option pulls in the extra client‑side code needed to receive attribute reports from a BooleanState (contact‑sensor) cluster."

	choice
        prompt "Device Primary Mode"
        default MODE_PRIMARY_CLOSURE
        help
          Select which primary functionality the device will expose.
          Only ONE of the three options can be enabled at a time.
          The selected mode can be used with “depends on MODE_PRIMARY_…”
          in other Kconfig symbols or source files.

        config MODE_PRIMARY_CLOSURE
            bool "Closure mode"
            help
              Build the firmware for the *closure* use‑case.  This enables the
              WindowCovering server cluster and disables the chime/cover specific
              code paths.

        config MODE_PRIMARY_CHIME
            bool "Chime mode"
            help
              Build the firmware for the *chime* use‑case.  This enables the
              Identify/OnOff clusters needed for a door‑bell style device.
			
        config MODE_WINDOW_COVERING_LEGACY
            bool "Window Covering Legacy mode"
            help
              Build the firmware for the *window covering legacy* use‑case. This enables the WindowCovering server cluster without the closure control cluster, and disables the chime/closure specific code paths.
		
		config MODE_CONTACT_SENSOR
			bool "Contact Sensor mode"
			help
			  Build the firmware for the *contact sensor* use‑case.
	endchoice
endmenu
